@font-face {
    font-family: 'Back to 1982';
    src: url('../fonts/BACKTO1982.TTF');
}

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

body {
    background-color: darkslategrey;
    overflow: hidden;
    font-family: arial;
}

canvas {
    margin: auto;
    display: block;
}